
<form action="/" data-background-sync-form>
  <fieldset>
    <legend>Hello world form</legend>
    <div>
      <label for="name">Your name</label>
      <input type="text" id="name" name="name" required />
    </div>
    <button class="button" type="submit">Say hello!</button>
  </fieldset>
</form>
