.next
dist
.gitkeep
.DS_Store
.env*
*.png
*.svg
*.log
*.handlebars
*.eot
*.woff
*.otf
*.ttf
*.woff2
*.ejs
*.snap
*.webm
.editorconfig
CODEOWNERS
Dockerfile
.template.npmrc
.vscode
.gitignore
*.sh
.nvmrc
.prettierignore
.eslintignore
.yalc/
.yarn/
.idea/
.yarnrc
yalc.lock
yarn.lock
build/
favicon.ico
