---
layout: layouts/base.njk
---

<h1>You did it!!</h1>

<p>
  You now know how to build a manifest.json file, cache a page to be
  offline & you have an basic introduction to background sync and push
  notifications. Well done!
</p>

<p>Here is a list of more articles on PWA.</p>

<ul>
  <li>
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/Manifest"
      target="_blank"
      >Web App Manifest</a
    >
  </li>
  <li>
    <a
      href="https://deanhume.com/create-a-really-really-simple-offline-page-using-service-workers/"
      target="_blank"
      >Create a simple offline page</a
    >
  </li>
  <li>
    <a
      href="https://developers.google.com/web/fundamentals/primers/service-workers/"
      target="_blank"
      >Service Workers: An introduction</a
    >
  </li>
  <li>
    <a
      href="https://dbwriteups.wordpress.com/2015/11/16/service-workers-part-4-background-sync/"
      target="_blank"
      >Service Workers – Part 4 – Background Sync</a
    >
  </li>
</ul>
