.button {
  color: var(--colors-white);
  height: 45px;
  border: none;
  display: inline-block;
  line-height: 1.6;
  appearance: none;
  border-radius: 4px;
  outline: 0;
  font-weight: 600;
  padding: 8px 35px;
  text-align: center;
  transition: background 150ms ease-in-out, color 150ms ease-in-out, box-shadow 150ms ease-in-out, transform 150ms ease-in-out;
  background-color: var(--colors-primary-dark);
  box-shadow: 0 6px 0 0 var(--colors-primary);
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 375px) {
  .button {
    display: block;
    width: 100%;
  }
}

.button:hover,
.button:focus {
  border: none;
  transform: translate(0, 5px);
  box-shadow: 0 1px 0 0;
  color: var(--colors-white);
  text-decoration: none;
}
