<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>PWA Kata</title>
    <meta name="description" content="PWA Kata" />

    <script>
      (function() {
        'use strict';

        document.querySelector('.no-js').classList.add('js')
        document.querySelector('.no-js').classList.remove('no-js')
      }())
    </script>

    <link href="/css/styles.css" type="text/css" rel="stylesheet" />

    {# 💬 - PWA's need this meta tag too but I have added it in so our site is responsive :) #}
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# 👷 - We need add a link reference to find our manifest.json file #}
    {# 👷 - we need to add a meta tag with the name of theme-color and content with the color #8a78c2  #}
    {# 👷 - we need to add a link tag with the rel of applica-touch-icon, sizes of 180x180 and href = /images/icons/apple-touch-icon.png  #}
    {# 📱 - run lighthouse when completed #}

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/icons/favicon-16x16.png"
    />

  </head>
  <body>
    <div class="layout">
      <div class="layout__shape">
      </div>
      <div class="layout__content-container">
        <main class="layout__content">
          {{content | safe }}
        </main>
      </div>
    </div>
    <script src="/scripts/test-manifest.js" type="module" defer></script>
    <script src="/scripts/transitions.js" type="module" defer></script>
  </body>
</html>
