---
layout: layouts/base.njk
---

<h1>Wheyyyyy you're Offline</h1>
<p>
  Great job! Let's give this baby a whirl. Run a lighthouse audit in
  devtools and lets see what scores you've got 😁. You will now have
  hit the basics of a PWA however we now can start looking deeper into
  the things we can do with PWA's.
  <a href="/background-sync/">Step 3 Background Syncing</a>
</p>
