---
layout: layouts/base.njk
---

<h1>Going offline - caching an offline page</h1>
<p>
  We now have a manifest in place! Now lets get started on building
  an offline page. What I want you to do is cache '/offline/',
  'main.js', 'style.css', 'pwa-lighthouse'. Once done, disconnect
  your wifi to check if your service worker redirects you to your
  offline page.
  <a
    href="https://deanhume.com/create-a-really-really-simple-offline-page-using-service-workers/"
    target="_blank"
    >Create a simple offline page</a
  >
</p>
<p>
  Once done turn off your wifi to continue (make sure you have
  turned off the mobile data too.)
</p>
