---
layout: layouts/base.njk
---

<h1>PWA Game</h1>
<div class="step step--visible" data-test-section>
  <h2>Step Two - Build a manifest.json</h2>

  <p>
    A manifest is the first thing you need to do when building a PWA.
    When the user adds your website to the homescreen of their device,
    the manifest communicates to the device telling them how the
    website should display & what icon should be shown to the user on
    the homescreen/splash page.
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/Manifest"
      target="_blank"
      >How to build a web app manifest</a
    >
  </p>

  <p>
    In the example above it tells you to save the file as a
    <b>.webmaniefest</b> you can use <b>.json</b> too which is what we
    are using in this example.
  </p>

  <ul class="tests" data-test-errors></ul>
  <button type="button" class="pwa-btn" data-test-btn="manifest">
    Check Manifest
  </button>
</div>
<div class="step" data-test-section>
  <h2>Step Three - Offline Page</h2>
  <p>
    We now have a manifest in place! Now lets get started on building
    an offline page. What I want you to do is cache '/offline/',
    'main.js', 'style.css', 'pwa-lighthouse'. Once done, disconnect
    your wifi to check if your service worker redirects you to your
    offline page.
    <a
      href="https://deanhume.com/create-a-really-really-simple-offline-page-using-service-workers/"
      target="_blank"
      >Create a simple offline page</a
    >
  </p>
  <p>
    Once done turn off your wifi to continue (make sure you have
    turned off the mobile data too.)
  </p>
</div>

