.errors {
  padding-left: 0;
  list-style: none;
}

.errors__item {
  background: var(--colors-pale);
  border-radius: 20px;
  color: var(--colors-validation);
  font-weight: 600;
  margin-bottom: 20px;
  padding: 20px;
}
