---
layout: layouts/base.njk
---

<h1>The PWA game</h1>

<p>A gameified workshop that leads developers to building a production ready progressive web app.</p>

<h2>What we will cover</h2>

<ol>
  <li>Getting those lighthouse checks ticked off</li>
  <li>Going offline</li>
  <li>Custom add to homescreen banners</li>
  <li>Custom add to homescreen banners - for IOS</li>
  <li>Background syncing</li>
  <li>Push notifications</li>
</ol>

<h2>Emoji helpers</h2>

<p>I don't expect you to write every single line of code by yourself so I have added some emojis in the code which give you hints in what to do next. This was inspired by the epic react dev as it is a great idea.</p>

<ol>
  <li>📝 - Rreading material</li>
  <li>💬 - info around why its built like that</li>
  <li>👷 - Bob the builder will give you the tools (hints) to what code needs to be written</li>
  <li>📱 - when its time to test it in the browser</li>
</ol>

<a href="/1" class="button">Let's start learning!</a>

